{% extends 'layout/base.html' %}


{% block title %} member/login {% endblock %}


{% block style %}
form {/* border: 1px solid red; */ width: 350px;
      margin: 150px auto}
form div {margin-top: 10px}
form label {display:inline-block; width: 120px;text-align: right;
           font-weight: bold}

{% endblock %}


{% block content %}

        <h2>로그인</h2>
        <form name="ㅣㅐ햐ㅜfrm" method="post" action="login.do">
             <div><label for="userid">아이디</label>
                 <input type="text" name="userid" id="userid" required></div>

            <div><label for="passwd">비밀번호</label>
                 <input type="password" name="passwd" id="passwd" required></div>

            <div><label></label>
                <button type="button">로그인</button></div>
        </form>
    {% endblock %}


{% block jscript %}{% endblock %}
