{% extends 'layout/base.html' %}
{% block title %} board/view {% endblock %}
{% block style %}
       table {width: 60%;margin: 65px auto -10px;

              /*border: 1px solid black;*/
              border-collapse: collapse;
              margin-bottom: 50px}
       th,td {padding: 10px}
       th:first-child {width: 15%}
       tr:nth-child(4) th {vertical-align: top}
       tr:nth-child(4) td {border: 1px solid orange;
                            vertical-align: top;}
       tr:nth-child(4) div {height: 300px;overflow: auto;padding: 5px}
       tr:last-child td {text-align: right}
{% endblock %}

 {% block content %}
        <h2>게시판 본문글</h2>
        <table>
            <tr><th>제목</th>
                <td>시간은 금이라구,친구!! 진짜라구,친구!!정말이라구,친구!!</td></tr>
            <tr><th>작성자</th><td>zzyzzy</td></tr>
            <tr><th>작성일</th><td>2022-05-27 12:56:36</td></tr>
            <tr><th>본문</th><td><div class="box">시간은 금이라구,친구!! 진짜라구,친구!!정말이라구,친구!!
            시간은 금이라구,친구!! 진짜라구,친구!!정말이라구,친구!!
            시간은 금이라구,친구!! 진짜라구,친구!!정말이라구,친구!!
            시간은 금이라구,친구!! 진짜라구,친구!!정말이라구,친구!!
            시간은 금이라구,친구!! 진짜라구,친구!!정말이라구,친구!!
            시간은 금이라구,친구!! 진짜라구,친구!!정말이라구,친구!!
            시간은 금이라구,친구!! 진짜라구,친구!!정말이라구,친구!!
            시간은 금이라구,친구!! 진짜라구,친구!!정말이라구,친구!!
            시간은 금이라구,친구!! 진짜라구,친구!!정말이라구,친구!!
            시간은 금이라구,친구!! 진짜라구,친구!!정말이라구,친구!!
            시간은 금이라구,친구!! 진짜라구,친구!!정말이라구,친구!!
            시간은 금이라구,친구!! 진짜라구,친구!!정말이라구,친구!!
            시간은 금이라구,친구!! 진짜라구,친구!!정말이라구,친구!!
            시간은 금이라구,친구!! 진짜라구,친구!!정말이라구,친구!!
            시간은 금이라구,친구!! 진짜라구,친구!!정말이라구,친구!!
            시간은 금이라구,친구!! 진짜라구,친구!!정말이라구,친구!!
            시간은 금이라구,친구!! 진짜라구,친구!!정말이라구,친구!!
            시간은 금이라구,친구!! 진짜라구,친구!!정말이라구,친구!!
            시간은 금이라구,친구!! 진짜라구,친구!!정말이라구,친구!!
            시간은 금이라구,친구!! 진짜라구,친구!!정말이라구,친구!!
            시간은 금이라구,친구!! 진짜라구,친구!!정말이라구,친구!!
            시간은 금이라구,친구!! 진짜라구,친구!!정말이라구,친구!!
            시간은 금이라구,친구!! 진짜라구,친구!!정말이라구,친구!!
            시간은 금이라구,친구!! 진짜라구,친구!!정말이라구,친구!!
            시간은 금이라구,친구!! 진짜라구,친구!!정말이라구,친구!!
            </div> </td></tr>
            <tr><td colspan="2"><button type="button"
                                        onclick="location.href='board.html'">목록으로 이동</button>
                                <button type="button"
                                        onclick="location.href='wirte.html'">새글쓰기</button>
                                <button type="button">수정하기</button>
                                <button type="button">삭제하기</button></td></tr>
        </table>
{% endblock %}
{% block jscript %}{% endblock %}
