<!DOCTYPE html>
<html lang="ko">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>{%  block title %}Python 웹프로젝트 v1{% endblock %}</title>
    <link rel="stylesheet" href="{% static '/css/normalize.css'%}">

    <style>
        {% block style %} {% endblock %}
    </style>
</head>
<body>
    <div id="wrap">
        {% include 'layout/head.html' %}
    <div id="main">
        {% block content %} {% endblock %}

    </div>
        {% include 'layout/footer.html' %}

    </div>
        {% block jscript %} {% endblock %}

</body>
</html>